
<table id="health_scores">
  <thead>
    <tr>
      <th><%= link_to "Name", audit_index_path(:sort => 'name')  %></th>
      <th>Address</th>
      <th><%= link_to "Score", audit_index_path( :sort => 'score') %></th>
      <th><%= link_to "Date", audit_index_path( :sort => 'date') %></th>
    </tr>
  </thead>
  <tbody>
  <% audits.each do |audit| %>
    <tr>
      <td> <%=audit.name %> </td>
      <td> <%=audit.address %> </td>
      <td> <%=audit.score %> </td>
      <td> <%=audit.date.to_formatted_s(:display) %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
