
<table id="health_scores">
  <thead>
    <tr>
      <th id="name"><%= sortable( "name" ) %></th>
      <th id="address">Address</th>
      <th id="score"><%= sortable("score" ) %></th>
      <th id="date"><%= sortable( "date" )%></th>
    </tr>
  </thead>
  <tbody>
  <% audits.each do |audit| %>
    <tr>
      <td> <%= link_to audit.restaurant.name, audit.restaurant %> </td>
      <td> <%=audit.restaurant.address %> </td>
      <td> <%=audit.score %> </td>
      <td> <%=audit.date.to_formatted_s(:display) %> </td>
    </tr>
  <% end %>
  </tbody>
</table>
