<!DOCTYPE html>
<html>
<head>
  <title>RestoHealthScores</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<!-- Header and Nav -->
  
  <div class="row">
    <div class="three columns">
      <h1>Health Scores</h1>
    </div>
    <div class="nine columns">
      <ul class="link-list right">
        <li> <%= link_to "Restaurants", restaurant_index_path %></li>
        <li> <%= link_to "All Audits", audit_index_path %></li>
        <li><a href="#">Section 3</a></li>
        <li><a href="#">Section 4</a></li>
      </ul>
    </div>
  </div>
  
  <!-- End Header and Nav -->

<%= yield %>

<!-- Footer -->
  
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li> <%= link_to "Restaurants", restaurant_index_path %></li>
            <li> <%= link_to "All Audits", audit_index_path %></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
</body>
</html>
